{% load staticfiles %}
{% load static %}

<header>
    <div class="header">
        <div class="logo">
            <a href="#">
                Topwin
            </a>
        </div>
        <div class="navigation">
            <input type="checkbox" class="toggle-menu">
            <div class="hamburger"></div>
            <ul class="menu">
                <li><a href="{% url 'main:index' %}">Home</a></li>
                <li><a href="{% url 'main:login' %}">Login</a></li>
                <li><a href="{% url 'main:sign' %}">SignUp</a></li>
            </ul>
        </div>
    </div>
</header>