{% extends "main/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
    <section>
        {% include "main/snippets/topbar.html" %}
            <div style="display:flex;flex-direction:row;">
                {% include "main/snippets/sidepanel.html" %}
                <div class="col colbg"
                    style="
                        background-repeat: no-repeat;
                        background-image: url(../../static/main/images/back.jpeg);
                        background-size: 100% 100%;
                    "
                >

                    <div  class="topcol">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <h3 style="
                            font-weight: bold;font-family: Times New Roman, Times, serif;
                        ">
                            Choose a Plan
                        </h3>
                        <i class="fa fa-lock fa-2x"  aria-hidden="true"></i>
                    </div>
                    {% for msg  in messages %}
                        <div class="callout success">
                            <button class="close-button" aria-label="Close alert" type="button">
                                <span aria-hidden="true">×</span>
                            </button>
                            <p>
                                <strong>{{ msg }}</strong>
                            </p>
                        </div>
                    {% endfor %}
                    <div class="plans">
                        <div class="plangold">
                            <h5 style="text-align: center;">Gold</h5>
                            <button class="golbut">Buy plan</button>
                        </div>
                        <div class="plansilver">
                            <h5 style="text-align: center;">Silver</h5>
                            <button class="silbut">Buy plan</button>
                        </div>
                    </div>

                </div>
            </div>
    </section>
{% endblock %}